<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <include file="$(find turtlebot3_bringup)/launch/includes/description.launch.xml">
    <arg name="model" value="$(arg model)" />
  </include>
  <!-- <node pkg="rviz" type="rviz" name="rviz" 
  args="-d $(find turtlebot3_automatic_parking)/rviz/turtlebot3_automatic_parking_test.rviz"/> -->
  <node pkg="tf" type="static_transform_publisher" name="camera_rgb_optical_frame_to_cam" 
    args="0 0 0 0 0 0 base_footprint base_scan 10" />
  <node pkg="turtlebot3_automatic_parking" type="automatic_parking_test" name="automatic_parking_test" output="screen">
  </node>
</launch>
